.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

.welcome-message {
  text-align: center;
  color: rgb(134, 134, 134);
  font-size: 18px;
}
